/*
 * @Author: Zeeshan  Ahmad
 * @Date:   2020-09-16 14:55:29
 * @Last Modified by:   Zeeshan  Ahmad
 * @Last Modified time: 2020-09-16 20:45:23
 */
 body
 {
    background-color: rgb(129, 141, 151);
 }

h2
{
    color: rgb(226, 43, 37);
}
nav
{
    background-color: rgb(241, 141, 9);
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}


nav .navbar-collapse ul li a
{
    color: white;
}
