/*
 * @Author: Zeeshan  Ahmad
 * @Date:   2020-09-16 20:40:42
 * @Last Modified by:   Zeeshan  Ahmad
 * @Last Modified time: 2020-09-16 20:40:43
 */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(181, 188, 194);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
